<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/style.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <div class="outer-container">
        <div class="frame1">
            <div class="frame2">
                <div class="profile-container">
                    <img src="{{ user_image_url }}" class="profile-image">
                </div>
                <div class="text">
                    {{ user_name }}
                </div>
                <div class="frame3">
                    <div class="frame4">
                        <div class="frame41">
                            <div class="txt41">
                                <div class="text11">
                                    {{ user_stats.followers }}
                                </div>
                                <div class="text1">
                                    followers
                                </div>
                            </div>
                            <div class="txt42">
                                <div class="text11">
                                    {{ followed_artists_count }}
                                </div>
                                <div class="text1">
                                    following
                                </div>
                            </div>
                            <div class="txt43">
                                <div class="text11">
                                    {{ user_stats.playlists }}
                                </div>
                                <div class="text1">
                                    playlists
                                </div>
                            </div>
                        </div>
                        <div class="frame42">
                            <a href="/statistics">
                                <button class="button-cont"><div class="btext">STATISTICS</div></button>
                            </a>
                            <a href="/top-artists">
                                <button class="button-cont"><div class="btext">top artists</div></button>
                            </a>
                            <a href="/top-tracks">
                                <button class="button-cont"><div class="btext">top tracks</div></button>
                            </a>
                            <a href="/playlists">
                                <button class="button-cont"><div class="btext">playlists</div></button>
                            </a>
                            <a href="/recentlyplayed">
                                <button class="button-cont"><div class="btext">recent</div></button>
                            </a>
                        </div>
                    </div>
                    <div class="frame51">
                        <div class="frame51">
                            <div class="text2">
                                Top Artists
                            </div>
                            <div class="frame53">
                                <a href="/top-artists?time_period=short_term"><button class="button-cont1"><div class="btext3">Last 4 Weeks</div></button></a>
                                <a href="/top-artists?time_period=medium_term"><button class="button-cont1"><div class="btext3">All Time</div></button></a>
                                <a href="/top-artists?time_period=long_term"><button class="button-cont1"><div class="btext3">Last 6 Months</div></button></a>
                            </div>
                        </div>
                        <div class="frameSt1">
                            <!-- Первый ряд: артисты 1-5 -->
                            <div class="frame526">
                                {% for artist in artists[:5] %}
                                <div class="frame523">
                                    <div class="frame524">
                                        <img src="{{ artist['image'] }}" alt="{{ artist['name'] }}" class="artist-image">
                                        <div class="frame525">
                                            <div class="btext3">
                                                {{ loop.index }}
                                            </div>
                                            <div class="btext4">
                                                {{ artist['name'] }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            
                            <!-- Второй ряд: артисты 6-10 -->
                            <div class="frame526">
                                {% for artist in artists[5:] %}
                                <div class="frame523">
                                    <div class="frame524">
                                        <img src="{{ artist['image'] }}" alt="{{ artist['name'] }}" class="artist-image">
                                        <div class="frame525">
                                            <div class="btext3">
                                                {{ loop.index + 5 }}
                                            </div>
                                            <div class="btext4">
                                                {{ artist['name'] }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
